
body{
	font-family: 'Orbitron' ;
}
input[type=text], input[type=password], input[type=email]{
	background-color: #ddd; 
	border:solid 2px #aaa; 
	padding: 8px; 
	margin: 10px
	
}
input[type=submit]{
	padding:5px 60px; 
	background-color: #00FA9B;
	font-family: 'Orbitron';
	border: groove;
	border-color: silver;
}  
