body{
	/*background-image: linear-gradient(to bottom right,#9932cc, #6a5acd);*/
	background-color: #1C1C1C;
}

h1{
	font-family: Calibri;
	font-size: 50px;
	padding-top: 50px;
	color: white;
	-webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: black ; /* cor da borda */

}
h3
{
	font-family: Calibri;
	font-size: 25px;
	color: white;
	margin: 0px;
	-webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: black ; /* cor da borda */
}


input[type="text"],input[type="password"],input[type="email"], input[type="textarea"]{
	
	margin: 10px;
	font-family: Calibri;
	font-size: 20px;
	border-color: purple;
	background-color: white;
	color: black;
	border-style: solid; 
	border-radius: 5px;
	border-width: 2px;
	border-color: purple;
	width: 300px;
	box-shadow: 0 0 0 0;
    outline: 0;
    padding: 5px
}

.radio{
	font-family: Calibri;
	color: white;
	font-size: 25px;
}

input[type="submit"],input[type="reset"]{
	font-family: Calibri;
	font-size: 30px;
	border-color: black;
	 background-image: linear-gradient(to bottom right,#9932cc, #6a5acd);
	color: white;
	font-weight: 800;
	text-shadow: all;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #000;
	width: 300px;
}
input[type="submit"]:hover{
	cursor: pointer;
	 background-image: linear-gradient(to bottom right, #6a5acd, #9932cc);
}
.aviso
{
	font-family: Calibri;
	color: white;
	font-size: 25px;
	text-decoration: none;
}
.button:focus, button:active {
    outline: none;
}
.adicionar
{
	padding: 8px;
	background-image: url(../icons/plus.png);
	background-size: 32px;
	background-repeat: no-repeat;
	font-family: Calibri;
	font-size: 15px;
	border-radius: 20px;
	border-color: white;
	border-style: dotted;
	outline: none;

}
.adicionar:hover
{
	background-image: url(../icons/right.png);
	cursor: pointer;
}
.excluir
{
	padding: 8px;
	background-image: url(../icons/trash.png);
	background-size: 32px;
	background-repeat: no-repeat;
	font-family: Calibri;
	font-size: 15px;
	border-radius: 20px;
	border-color: white;
	border-style: dotted;
	margin: 10px;
	outline: none;

}
.excluir:hover
{
	background-image: url(../icons/del.png);
	cursor: pointer;
}
p,a
{
	font-family: Calibri;
	color: white;
	font-size: 25px;
	text-decoration: none;
}
.alternativa{
	background-color: white;
	text-align: center;
	font-weight: 800;
	font-size: 30px;
	font-family: Calibri;
	border: inset;
	border-color: black;
}
.alternativa:hover{
	background-color: silver;
}
