.radio-image label > input{
    visibility: hidden;
}
.radio-image label > input + img{
    cursor:pointer;
    border-radius:20px;
    padding: 0px;
}
.radio-image label > input:checked + img{
    border:4px solid #39ff14;
    background-image: url(../icons/right.png);
    background-color: black;
}

label:hover
{
  cursor: pointer;
  
}
fieldset{
  border: none;
}

   /*<link rel="stylesheet" href="css/radioBox.css?time=<?=time()?>">*/