
body{
	text-align: center;
	/*background-image: url(imagens/triangulo.jpg);*/
	background-repeat: no-repeat;
	background-size: all;
	font-family: calibri;
}


.titulo{
	-webkit-text-stroke-width: 1,5px; /* largura da borda */
    -webkit-text-stroke-color: black; /* cor da borda */
    color: white;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;

}
.people
{	
	text-align: center; 
	border-style: solid; 
	font-size: 18px;
	color: rgb(51,109,226);
	background-color: white;
	text-decoration: none;
	padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
}
.people:hover{
	/*background-color: silver;*/
	moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.textoUpImagem
{
	background-color: rgb(51,109,226);
	font-family: calibri;
	border-radius: 5px;
	padding: 5px;
	margin: 3px;
	font-weight: 800;
	font-size: 20px;
	text-decoration: none;
	color: white;
}
.textoDownImagem{
 font-size: 15px;
 text-decoration: none;
 color: white;
 background-color: red;
 font-family: calibri;
 border-radius: 5px;
 padding: 5px;
 margin: 3px;
 font-weight: 800;
}


.about_me
{	
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}
p
{
	margin: 0px;
	
}
table
{
	border: 1px solid white;
	width: 100%;
}

thead
{
	background-color: #eee;
	border: 1px solid white;
}
td{
	color: white;
}



.azulEbranco
{
	background-color: rgb(51,109,226);
	font-family: calibri;
	color: white;
	border-radius: 10px; 
	text-decoration: none; 
	padding: 5px;
	margin: 5px;
}
.azulEbranco:hover{
	color: blue;
	background-color: silver;	
}

.minhasInfo
{	
	text-decoration: none; 
	color: black; 
	font-weight: 500; 
	font-family: Calibri;
	font-size: 20px;
	padding-bottom: 5px;

}
.minhasConta:hover{
	background-color: red;
	color: white;

}

.criarEditar
{
	background-color: rgb(51,109,226);
	font-weight: 900;
	font-size: 15px;
	text-decoration: none;
	padding: 0px;
	color:black;
}
.criarEditar:hover
{	
	background-color: red;
	color: white;
}

.imagemQuiz{
	border-radius: 10px;
	 margin-top: -1px; 
	 margin-bottom: -5px;
}



.gridCategorias
{
	background-color: white; 
	display: block; 
	border-radius: 10px; 
	text-align: left;
	padding: 0px;
	margin: 0px;
	border-style: groove;
border-color: rgb(51,109,226);
}
.categorias{
color: black;
font-family: Calibri;
font-weight: 1000;
padding: 10px;

}
.categorias:hover{
	background-color: red;
	color: white;
}
.alternativa{
	background-color: white;
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	font-family: Calibri;
	border-radius: 2px;
	border-color: black;
	border-style: groove; 
	border-width: 0.7px;
	padding: 10px
}
.alternativa:hover{
	background-color:rgb(51,109,226); 
	color: white;
	border-color:rgb(51,109,226); 


	  }
input[type="submit"]{
	font-family: Calibri;
	font-size: 30px;
	border-color: black;
	/*background-image: linear-gradient(to bottom right,green, green);*/
	color: black;
	font-weight: 800;
	text-shadow: all;
	/*-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #000;*/
	width: 315px;
	border-radius: 5px;
	
	
}	
input[type="submit"]:hover{
	cursor: pointer;
	color:white;
	background-color: red;
	/*background-image: linear-gradient(to bottom right, purple, red);*/
	 /*background-image: linear-gradient(to bottom right, #6a5acd, #9932cc);*/
}
h3{
	color: white;
	font-family: Calibri;
	font-size: 30px;
}
.perguntaQuiz{
font-family: Calibri;
font-size: 50px;
font-weight: 900px;
color:white; 
padding: 50px; 
-webkit-text-stroke-width: 1.2px;
-webkit-text-stroke-color: #000;
}