
body{
	/*font-family: 'Orbitron' ;*/
	text-align: center;
	background-color: #00121e;
	/*background-image: url(imagens/triangulo.jpg);*/
	background-repeat: no-repeat;
	background-size: all;
	font-family: calibri;

}

		
input[type=text], input[type=password], input[type=email], input[type=textarea]{
    border: solid 2px #aaa;
    padding: 8px;
    margin: 10px;
    border-radius:10px;
    border-color: #255e87;
    background-color: #082336;
    border-color: ;
    outline: none; /*remove desenho da seleção*/
    color: #4099d1;
    border-color: #4099d1;


}
input[type=submit]{
	padding:5px 50px; 
	border: groove;
	border-radius: 20px;
	border-style: solid;
	border-color: blue;
	cursor: pointer;
	color:#4099d1;
	font-family: calibri;
	font-size: 20px;
	border-color: #4099d1;
	background-color: #082336;
}
/*.foco*/
{
	/*padding: 3px;*/
	/*margin-left: 50px;
	margin-right: 50px;*/
	border-radius: 25px;
	background-color: white;
}
.titulo{
	-webkit-text-stroke-width: 0.1px; /* largura da borda */
    -webkit-text-stroke-color: black; /* cor da borda */
    padding-bottom: 20px; 
    color:rgb(51,109,226);
    font-size: 40px;
    font-family: 'Press Start 2P';
}
.people_title
{
    background-image: url(imagens/fundosdsd.jpg);
    background-repeat: no-repeat;
    background-size: 1000px;
	color: black;
	border-radius: 20px;
}
.people
{	
	text-align: left; 
	border-style: solid; 
	font-size: 18px;
	color: rgb(51,109,226);
	background-color: white;
	text-decoration: none;
}
.people:hover{
	background-color: silver;
	text-decoration: none;
}

.about_me
{	

	background-color: white; 
	color: black;
	border-radius: 5px;
	padding: 10px;
}
p
{
	margin: 0px;
	
}
table
{
	border: 1px solid black;
	width: 100%;
}
thead
{
	background-color: #eee;
	border: 1px solid black;
}
.quiz
{
	color: white;
	font-size: 20px;
}
.menu{
	background-color: #0000FF;
	padding: 5px;
	color: white;
	text-align: center;
}
.menu a{
	text-decoration: none;
	color: white;
}
.azulEbranco
{
	background-color: rgb(51,109,226);*/
	font-family: calibri;
	color: white;
	border-radius: 10px; 
	text-decoration: none; 
	padding: 5px;
	margin: 5px;
}
.azulEbranco:hover{
	background-color: blue;
	
}
.sair:hover{
	background-color: red;
}

::-webkit-input-placeholder 
{
   color: #4099d1 ;
}
/*input:-webkit-autofill {
    -webkit-text-fill-color: #4099d1;
   filter: saturate(1) hue-rotate(200deg);
}*/
input:-webkit-autofill {
    -webkit-text-fill-color: #4099d1 ;
    -webkit-box-shadow: 0 0 0px 1000px #082336 inset;
}